header{
    display: flex;
    gap: 10px;
    height: 100vh;
}

.header-lift{
    background-image: url(../../assets/images/hero/slider-bg1.jpg);
    width: 90%;
    
}
.header-lift-text{
    margin-top: 70px;
    margin-left: 20px;
}
.header-lift-text > *{
    margin-bottom: 20px;
}
.header-lift-text h2{
    font-size: 30px;
    color: gray;
}
.header-lift-text p{
    font-size: 18px;
    width: 50%;
    line-height: 1.5;
}
.header-lift-text h4{
    font-size: 22px;
    color:  rgb(72, 72, 205);
}
.header-lift-text button{
    background-color:  rgb(72, 72, 205) ;
    color: #fff;
    padding: 10px;
    width: 150px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.header-right-up{
    background-image: url(../../assets/images/hero/slider-bg2.jpg);
    height: 50%;
    background-size: cover;
    background-position: center;
}
.header-right-up div{
    padding-top : 40px;
    padding-left: 10px;
}
.header-right-up div > *{
    margin-bottom: 20px;
}
.header-right-up div h2{
    font-size: 18px;
    color: gray;

}
.header-right-up div h4{
    color:  rgb(72, 72, 205);
    font-size: 20px;
}
.header-right-down{
    background-color: rgb(25, 19, 19);
    margin-top: 20px;
    height: 35%;
    color: #fff;
    padding: 40px;

}
.header-right-down div > *{
margin-bottom: 10px;
}
.header-right-down div h3{
    width: 70%;
    line-height: 1.5;
}
.header-right-down div button{
    background-color:  rgb(72, 72, 205) ;
    color: #fff;
    padding: 10px;
    width: 150px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}



@media (max-width: 400px) {
      
    header{
        display: block;
    }
    .header-lift-text{
        font-size: 15px;
    }
    .header-lift-text h2{
        font-size: 18px;
    }
    .header-lift-text{
        margin-top: 70px;
        margin-left: 20px;
    }
    .header-lift-text > *{
        margin-bottom: 20px;
       
    }
    .header-lift-text p{
        font-size: 14px;
        width: 100%;
    }
   
     


    .header-right-up div{
        margin-top: 30px;
    }
}