
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;

}
.container{
    width: 90%;
    margin: 100px auto;
}
.title{
    color:  rgb(72, 72, 205);
    font-size: 35px;
    text-align: center;
}
.about-counter{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
    background-color: #666;
    color: #fff;
}
.about{
    width: 80%;
    margin: 100px auto;
}
.n{
    font-size: 25px;
    font-weight: bold;
}
.testimonial{
    background-color: #ccc;
    padding: 20px;
    text-align: center;
}
.testimonial > *{
    margin-bottom: 20px;
}
.testimonial p{
    font-size: 18px;
    width: 70%;
    margin: 20px auto;
    line-height: 1.5;
}
.testimonial div{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.testimonial .star-icon{
    color: gold;
}
.testimonial h2{
color:  rgb(72, 72, 205);
}
.services-flex{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    gap: 10px;
}
.service{
   
  
    gap: 10px;
    background-color: #eee;
    width: 24%;
    padding: 10px;
}
.service h2{
    margin-top: 10px;
}
.service-icon{
   font-size: 25px;
   color:  rgb(72, 72, 205) ;
 
}
.contact-flex{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    gap: 20px;
}
.contact-lift{
    width: 50%;
}
.contact-lift iframe{
    width: 100%;
    height: 400px;
}
.contact-right{
    width: 50%;
}
.contact-right input{
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    outline: none;
}
.contact-right textarea{
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    outline: none;
}

